.style-carrusel{
    font-family: 'Rock Salt', cursive;
    padding: 5px 5px;


}

.guns-text{
    background-color: black;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);


}

