.fondo-img {
    background-image: url(../Images/Error404.jpg);

    background-position: center; 
    
    background-repeat: no-repeat;
    
    height: 100vh;

    width: 100vw;
    
    display: flex;

    justify-content: center;

    align-items: center; 
}

@media(max-width:995px){
    .fondo-img {

        background-image: url(../Images/Error404.jpg);
        
   
        background-size: cover; 
        
 
        background-position: center; 
        
    
        background-repeat: no-repeat;
        
        height: 100vh;

        width: 100vw;
        

        display: flex;

        justify-content: center;

        align-items: center; 
    }
    
}

.button-retroced{
    position: fixed; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
}


