*{
    margin: 0;
    padding: 0;
}

.h2-homepage{
    text-align: center;
    font-size: 25px ;
    padding: 3px;
    background-color: rgb(223, 220, 220);
    font-family: 'Rubik Glitch', system-ui;
    margin: 0; 
}

.h2-homepage:hover{
    color: rgb(255, 0, 0);
}



.contenedor-carrosuel img {
    max-height: 800px; 
    object-fit: cover;
  }
  