.style-img{
    width: 90px;
    height: 90px;
}

.font-style{
    font-family: 'Rubik Glitch', system-ui;
    font-size: 25px;
}

.style-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.img-body{
    background-image: url(../Images/FondoAdmin.webp);
}

